@import "../../../assets/styles/variables.style.module.scss";
.container {
    &_title {
        color: $white;
        font-size: 3vw;
        font-weight: bold;

        &-blue {
            color: $blue;
            font-size: 3vw;
            font-weight: 100;
        }
    }

    &_subtitle {
        color: $blue;
        font-size: 1.2vw;
    }
}

.container > * h1 {
    margin-top: 0;
    margin-bottom: 18px;
}

.container > * h1:nth-child(1) {
    margin-bottom: 10px;
}

.divider {
    color: $white;
    height: 20px;
}
