@import "../../../assets/styles/variables.style.module.scss";
.container {
    &_title {
        color: $white;
        font-size: 3vw;
        font-weight: bold;

        &-blue {
            color: $blue;
            font-size: 3vw;
            font-weight: 100;
        }
    }

    &_subtitle {
        color: $blue;
        font-size: 1.2vw;
    }
}

.container > * h1 {
    margin-top: 0;
    margin-bottom: 18px;
}

.container > * h1:nth-child(1) {
    margin-bottom: 10px;
}

.divider {
    color: $white;
    height: 20px;
}

@media only screen and (max-width: 1200px) {
    .container {
        text-align: center;
        &_title {
            font-size: 30px;

            &-blue {
                font-size: 30px;
            }
        }

        &_subtitle {
            font-size: 23px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        &_title {
            font-size: 30px;

            &-blue {
                font-size: 30px;
            }
        }

        &_subtitle {
            font-size: 23px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        &_title {
            font-size: 25px;

            &-blue {
                font-size: 25px;
            }
        }

        &_subtitle {
            font-size: 18px;
        }

        &_btn-download {
            margin: 10px 0 70px 0;
        }
    }
}
