.container_buttons_nav {
    position: relative;
    right: -110px;
    transition: 300ms;

    &:hover {
        right: 0px;
        transition: 300ms;
    }

    &_icons{
        height: 20px;
        width: 20px;
    }
}
